a{
    text-decoration: none;
    color: rgb(240, 115, 115);
    font-size: 14px;
}
a:hover{
    border:2px solid rgb(60, 27, 92);
    border-radius: 30px;
    padding: 6px;
    color: rgb(60, 27, 92);
    transition: ease .30s;
}